/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
}

/* Estilo para el logo */
.navbar-brand {
    margin-right: 20px; /* Margen para separar el logo del otro contenido */
}

/* Estilo para el contenido del div .navbar-expand-lg */
.navbar-expand-lg {
    flex: 1; /* Hace que ocupe todo el espacio disponible en la barra de navegación */
}