.navbar {
    background: linear-gradient(45deg, #212429, #574462, #735AB6, #AF87C5, #735AB6, #574462,#212429);
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.btn {
    display: inline-flex;
    align-items: center;
}

.btn svg {
    vertical-align: middle;
    margin-right: 5px;
}

/*Cards*/

.ct {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.cont-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Opcional: ocupa el ancho completo del contenedor padre */
    margin: 0 auto; /* Centrar horizontalmente */
}

.card-ct {
    display: flex;
    max-width: 20rem; /* Tamaño máximo de la tarjeta */
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(115, 90, 182, 0.2), 0px 10px 20px rgba(115, 90, 182, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .card-ct:hover {
    transform: translateY(-5px);
  }

.card-body-ct {
    max-width: 20rem; 
    max-height: 200px; 
    overflow-y: auto;
}

.card-tx {
    font-weight: bolder;
}

.card-text {
    font-weight: lighter;
}



@media (max-width: 768px) {
    .card-ct {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card-ct {
        width: 100%;
    }
}

.color-square {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    
  }

/**
   EDITAR ACTIVIDAD
*/

.card-edit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 90%; /* Tamaño máximo de la tarjeta */
    box-shadow: 0px 5px 10px rgba(115, 90, 182, 0.2), 0px 5px 10px rgba(115, 90, 182, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .card-edit:hover {
    transform: translateY(-5px);
  }

  .col-sm-9 {
    width: 100%;
}