.navbar {
    background: linear-gradient(45deg, #212429, #574462, #735AB6, #AF87C5, #735AB6, #574462,#212429);
}

.navbar-brand {
    color: white;
    font-weight: bold;
}



.btn {
    display: inline-flex;
    align-items: center;
}

.btn svg {
    vertical-align: middle;
    margin-right: 5px;
}
