  body {
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo de la página */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo de la página */
    background-image: url("../5807701.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en la página */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
  height: 100vh;
  }


.ct {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .c-round {
    border-radius: 15px; /* Aplica un radio de borde para redondear la tarjeta */
  overflow: hidden; /* Oculta cualquier contenido que se salga de la tarjeta redondeada */
  }

.ct-imagen {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: auto;
    background-color: white;
}

.ct-imagen img{
    width: 60%; /* La imagen ocupará el 50% del tamaño original */
    height: auto; /* Para mantener la proporción original de la imagen */
    margin: 10px;
}

.body-c {
    background-color: #6373c9;
}
.text-c{
    color: white;
    font-weight: bold;
}

.btn-p{
    background-color: #ee64c4;
    color: white;
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-8 {
    flex: auto; /* Anula flex: 0 0 auto; */
    width: initial; /* Anula width: 66.66666667%; */
  }
}